# Core
django>=4.2,<5.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
channels>=4.1
channels-redis>=4.2

# Auth / CORS
django-cors-headers>=4.3
django-filter>=24.0

# Async
daphne>=4.1

# Celery
celery>=5.3
celery[redis]>=5.3
django-celery-beat>=2.6
redis>=5.0


# DB
dj-database-url>=2.1
psycopg2-binary>=2.9

# Config
python-decouple>=3.8

# Files
Pillow>=10.0

# Production
gunicorn>=21.0
whitenoise>=6.6

# Resilience / Circuit Breaker
pybreaker>=1.0.0

# Testing & Quality
pytest>=7.4
pytest-django>=4.5
mypy>=1.5
django-stubs>=4.2

